@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";    
}
<div class="ratio-empty-page text-center">
    <h1>Order Failure!!</h1>
    <p>
        <a asp-controller="Cart" asp-action="CartDetail">Go back to cart detail</a>
    </p>
</div>

<script type="module" defer src="@Url.Content("~/js/cart/cart-common.js")"></script>