@model RatioShop.Data.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";    
    
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Code" class="control-label"></label>
                <input asp-for="Product.Code" class="form-control" />
                <span asp-validation-for="Product.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductFriendlyName" class="control-label"></label>
                <input asp-for="Product.ProductFriendlyName" class="form-control" />
                <span asp-validation-for="Product.ProductFriendlyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductRawName" class="control-label"></label>
                <textarea asp-for="Product.ProductRawName" class="form-control"></textarea>
                <span asp-validation-for="Product.ProductRawName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <textarea asp-for="Product.Description" class="form-control" ></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsDelete" /> @Html.DisplayNameFor(model => model.Product.IsDelete)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.IsNew" /> @Html.DisplayNameFor(model => model.Product.IsNew)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Product.EnableStockTracking" /> @Html.DisplayNameFor(model => model.Product.EnableStockTracking)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label js_img_changeTarget">
                    <span>ProductImage</span>
                    <img src="~/images/default-placeholder.jpg" style="height:250px;width:auto" alt="product image" />
                </label>
                <input type="file" asp-for="ProductImage" class="form-control js_img_changeEvent" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>                        

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div><a asp-action="ProductSettings">Back to List</a></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
