@page
@model AdminModel
@{
    ViewData["Title"] = "Admin page";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Admin page</a>.</p>
</div>
