@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, welcome to Ratio shop</p>
</div>
<script type="module" defer src="@Url.Content("~/js/cart/cart-common.js")"></script>