@model RatioShop.Data.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.DisplayName" class="control-label"></label>
                <input asp-for="Category.DisplayName" class="form-control" />
                <span asp-validation-for="Category.DisplayName" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Category.CatalogId" class="control-label"></label>
                <select name="Category.CatalogId" id="Category_CatalogId" class="form-control">
                @foreach (var item in Model.AvailableCatalogs)
                {
                    if (item.Key.ToString().Equals(Model.Category.CatalogId.ToString(), StringComparison.OrdinalIgnoreCase))
                    {
                        <option value="@item.Key" selected>@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                }
            </select>                
                <span asp-validation-for="Category.CatalogId" class="text-danger"></span>
            </div>  

            <input type="hidden" asp-for="Category.Id" />
            <input type="hidden" asp-for="Category.CreatedDate" />
            <input type="hidden" asp-for="Category.ModifiedDate" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
